/* Global */

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e4c480;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

/* Main */

.main-content {
    background-color: #fff;
    display: flex;
    height: 530px;
}

.hero-content-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    background-color: #403b58;
    padding: 40px 30px 30px 30px;
}

.hero-content-heading {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    margin: 0;
    margin-bottom: 5px;
}

.hero-content-heding {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin: 0;
}

.div10::before {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #d45454;
    border: 0;
    display: inline-block;
}

.content {
    display: flex;
    align-items: center;
}

.content-heading {
    color: #fff;
}

.content-img {
    border-radius: 50%;
    margin-right: 15px;
}

.main-content-c {
    width: 560px;
    padding: 40px 30px 30px 30px;
}

.main-content-hero-text {
    font-family: "Opan Sans", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.main-content-hero-text::first-letter {
    color: #000;
    font-size: 30px;
}

.main-content-hero-teext {
    font-family: "Opan Sans", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.hero-main2 {
    -webkit-box-shadow: 0px -16px 17px -10px rgba(139, 139, 139, 0.6);
    -moz-box-shadow: 0px -16px 17px -10px rgba(179, 179, 179, 0.6);
    box-shadow: 0px -16px 17px -10px rgba(122, 122, 122, 0.6);
}

.content-div {
    display: flex;
    align-items: center;
}

.content-div-heading {
    margin: 0;
    margin-right: auto;
}

.content-div-r {
    color: rgb(189, 183, 183);
    margin-right: 20px;
    margin-left: 10px;
    font-size: 15px;
}
